@using NileThink.Framework.PrivateLessonManagementSystem.DAL.Models
@model IEnumerable<tbl_membership>
@{
    ViewBag.Title = "MembershipPackages";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
}

<div class="row">
    <div id="status_message" class="col-lg-12">@Html.Action(actionName: "TempMessage", controllerName: "Shared", routeValues: new { area = "" })</div>
    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">



        </div>
    </div>

    <div class="col-lg-12">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            الإشتراكات المميزة
                        </h3>
                    </div>
                </div>
            </div>

            <div class="m-portlet__body">
                <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">

                    <a href="/Admin/Settings/Add">   <button type="button" class="btn btn-dark">إضافة </button></a>

                </form>
                @{ if (Model != null)
                    {
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                            <thead>
                                <tr>
                                    <th>اسم الباقة</th>
                                    <th>فترة الباقة </th>
                                    <th>رسوم الباقة</th>
                                    <th>عمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var period = "";}
                                @foreach (tbl_membership item in Model)
                                {
                                    <tr>
                                        <td>@item.name_ar</td>
                                        @{
                                            switch (item.period_type)
                                            {
                                                case 1:
                                                    period = "يوم";
                                                    break;
                                                case 2:
                                                    period = "شهر";
                                                    break;
                                                case 3:
                                                    period = "سنة";
                                                    break;
                                                default:
                                                    period = "";
                                                    break;
                                            }
                                        }
                                        <td>@item.period_no @period</td>
                                        <td>@item.cost</td>



                                        <td nowrap>
                                            <span style="overflow: visible; position: relative; width: 110px;">
                                                <a href="@Url.Action("Edit", new { id = item.id })" class="btn btn-primary m-btn m-btn--icon m-btn--icon-only" title="Edit details">
                                                    <i class="la la-edit"></i>
                                                </a>

                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="@Url.Action("DeleteMemebership", new { id=item.id})" class="btn btn-danger m-btn m-btn--icon m-btn--icon-only DeleteBox" title="حذف"><i class="la la-remove"></i></a>

                                            </span>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>نأسف!</strong> لم يصلك طلبات بعد  .
                        </div>
                    }
                }
            </div>


        </div>

        <!--end::Portlet-->
    </div>
</div>

